html{
  height: 100%;
}
body{
  height:100%;
}
#library {
  padding: 10px;
  display: flex;
}
#newSearch{
  padding: 10px;
  display: flex;
}

#twoButtons{
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
}

#previousPage{
  display:flex;
  padding: 8px;
  margin: 15px;
}

#acceuil {
  display: block;
}

#results {
  display: none;
}

#custom-search-input {
  padding: 3px;
  border: solid 1px #E4E4E4;
  border-radius: 6px;
  background-color: #fff;
}

#custom-search-input input {
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#custom-search-input button {
  margin: 2px 0 0 0;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
  color: #666666;
  padding: 0 8px 0 10px;
  border-left: solid 1px #ccc;
}

#custom-search-input button:hover {
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search {
  font-size: 23px;
}

#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20%;
}

.flex-column {
  max-width: 260px;
}

#img_here {
  width: 90%;
  /* margin-left:20%; */
  margin: auto;
}

/*for the modal*/
#img_opacity:hover {opacity: 0.7;}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}
/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}
/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}
/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}


/* Box-sizing reset: //w3bits.com/?p=3225 */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
/* .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  } */
.images {
  width: auto;
  max-width: 300px;
  border: 1px solid #d4d4d4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px;
  padding: 4px;
  position: relative;
}

.images:hover > div {
  display: block;
}

.images img {
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}

.card-img-top{
  object-fit:cover;
  height:15vw;
  width:100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%;
  }
}

.toBeShown {
  display: none;
  position: absolute;
  text-align: bottom;
  left: 0px;
  top: 0px;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.5);
  color: black;
  font-weight: bold;
}

#ChosenImages {
  display: none;
}

#numerCart{
  font-size: 12px;
  color: #fff;
  padding: 0 5px;
  vertical-align: top;
}

#allignVertically{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  height:100%;
}
#acceuil{
  height:100%;
}

#textBox{
  margin:30px;
  display:flex;
}
#container{
  margin:10px;
  display:flex;
}
/*# sourceMappingURL=styles.css.map */