#library{
    margin-top:1em;
    width:4em;
    display:flex;
    margin-left:90%;
}

#acceuil{
    display:block;
}
#results{
    display:none;
}

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

#container{
    display:flex;
    justify-content:center; 
    margin-top:20%;
    
}

.flex-column { 
    max-width : 260px;
}
#img_here{
    width:90%;
    /* margin-left:20%; */
    margin:auto;
}
/* Box-sizing reset: //w3bits.com/?p=3225 */
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
   
  }
  
  /* Create four equal columns that sits next to each other */
  /* .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  } */
  .images{
    height:300px;
    width:auto;
    max-width:300px;
    border:1px solid #d4d4d4;
    display:flex;
    justify-content: center;
    align-items: center;
    margin:15px;
    padding:4px;
    position:relative;
  }
  .images img {
    vertical-align: middle;
    max-width:100%;
    max-height:100%
  }

 
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

  .toBeShown{
    display:none;
    position: absolute;
    text-align:bottom;
    left: 0px;
    top: 0px;
    z-index: 1000;
    background:rgba(255,255,255,0.5);
    padding: 5px;
    color: black;
    font-weight: bold;
  }